* {
    border: 1px dotted black;
}

header{background-color: white;}

.margin-jumbo{margin-top: 122px;}

#sony-logo {
    width: 80px;
    height: 40px;
}

#returnal-logo{object-fit: contain; width: 200px;}

#ps-logo {
    height: 40px;
}

ul {
    list-style-type: none;
}

.jumbotron-1 {
    background-image: url(/img/returnal-listing-thumb-01-ps5.jpg);
    
  background-attachment: fixed;
  background-position: right;
  background-size:cover;
  height: 500px;
}