/* * {
    border: 1px dotted black;
} */

/* sezione header */
header {
    background-color: white;
}

#sony-logo {
    width: 80px;
    height: 40px;
}

#ps-logo {
    height: 40px;
}

/* margine jumbotron per distanziarlo dall header */
.margin-jumbo {
    margin-top: 122px;
}




ul {
    list-style-type: none;
}

/* i due jumbotroni  */

.jumbotron-1 {
    background-image: url(/img/returnal-listing-thumb-01-ps5.jpg);

    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    min-height: 500px;
}

.jumbotron-2 {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

#returnal-logo {
    object-fit: contain;
    width: 300px;
}

#takes-two {
    object-fit: contain;
    height: 150px;
}

/* sezione psplus */
#plus {
    background-color: #BEBCBB;
}


/* sezione ps now */

#psnow {
    background-color: #161C3B;
}

/* stile per tutte le immagini anche se potevo usare image fluid su tutte le immagine per ottenere lo stesso risultato */
img{height: auto;
width: 100%;}

footer{background-color: #00439C;}

#logo-ps{
width: 100px;}

#logo-sie{
width: 100px;}
